# Ignore build directory
/build/
/bin/
/dist/
.vs/
/adi/
/cbs/
/out/
/NSIS_SetupSkin/
__pycache__/
vcpkg_installed/
# Ignore CMake user-specific files
CMakeLists.txt.user
src/*.qm
*.pdb

# Ignore .DS_Store
.DS_Store

